/* ======================================= */
/* ========|| Custom Properties ||======== */
/* ======================================= */
:root {
  --clr-primary: hsl(322, 100%, 66%);
  --clr-secondary: hsl(321, 100%, 78%);
  --clr-accent: hsl(0, 100%, 63%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(207, 100%, 98%);
  --clr-neutral-800: hsl(192, 100%, 9%);

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  --ff-accent: "Poppins", sans-serif;
  --ff-base: "Open Sans", sans-serif;

  --spacing-50: 0.25em;
  --spacing-100: 0.5em;
  --spacing-150: 0.75em;
  --spacing-200: 1em;
  --spacing-250: 1.25em;
  --spacing-300: 1.5em;
  --spacing-350: 1.75em;
  --spacing-400: 2em;
  --spacing-500: 2.5em;
  --spacing-600: 3em;
  --spacing-700: 3.75em;
  --spacing-800: 6.25em;
  --spacing-900: 10em;
  --spacing-1000: 15em;

  /* Desktop */
  --fs-desktop-smallest: 0.75rem; /* 12px */
  --fs-desktop-detail: 0.875rem; /* 14px */
  --fs-desktop-regular: 1.125rem; /* 16px/18px */
  --fs-desktop-subtitle-small: ; /* 20px */
  --fs-desktop-subtitle-regular: 2.5rem; /* 40px */
  --fs-desktop-subtitle-large: ; /* 22px */
  --fs-desktop-main-small: 2rem; /* 32px */
  --fs-desktop-main-regular: 2.375rem; /* 38px */
  --fs-desktop-main-large: 2.625rem; /* 42px */
  --fs-desktop-display-small: 3.75rem; /* 60px */
  --fs-desktop-display-regular: 4.5rem; /* 72px */
  --fs-desktop-display-large: 5rem; /* 80px */

  /* Mobile */
  --fs-mobile-xsmall: 0.75rem; /* 12px */
  --fs-mobile-small: 0.875rem; /* 14px */
  --fs-mobile-regular: 1rem; /* 16px */
  --fs-mobile-subtitle-small: 1.25rem; /* 18px */
  --fs-mobile-subtitle-regular: 1.375rem; /* 22px */
  --fs-mobile-subtitle-large: 1.5rem; /* 24px */
  --fs-mobile-main-title-small: 1.5rem; /* 24px */
  --fs-mobile-main-title-regular: 2rem; /* 32px */
  --fs-mobile-main-title-large: 2.375rem; /* 38px */
  --fs-mobile-display-small: 3rem; /* 48px */
  --fs-mobile-display-regular: 3.75rem; /* 80px */
  --fs-mobile-display-large: 4.5rem; /* 72px */

  --fs-body: clamp(
    var(--fs-mobile-regular),
    15.304px + 0.2174vw,
    var(--fs-desktop-regular)
  );
  --fs-title: clamp(
    var(--fs-mobile-main-title-small),
    17.7392px + 1.9565vw,
    var(--fs-desktop-main-large)
  );
  --fs-sub-title: clamp(
    var(--fs-mobile-subtitle-regular),
    13.0432px + 2.1739vw,
    var(--fs-desktop-subtitle-regular)
  );
  --fs-smallest: ;
  --fs-button: ;
}

/* ======================================= */
/* ===============|| Reset ||============= */
/* ======================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  /* max-width: 75ch; */
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ======================================= */
/* ========|| General Styling ||========== */
/* ======================================= */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
}
h1,
h2 {
  font-family: var(--ff-accent);
}
h1 {
  font-size: var(--fs-title);
}
h2 {
  font-size: var(--fs-sub-title);
}
/* ======================================= */
/* ==========|| Header Style ||=========== */
/* ======================================= */
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacing-800);
}
.header__logo {
  width: 6em;
}
/* ======================================= */
/* ===========|| Main Style ||============ */
/* ======================================= */
.main__hero {
  padding-inline: var(--spacing-100);
}
.main__hero > *:not(:last-child) {
  margin-bottom: var(--spacing-800);
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__content h1 {
  margin-bottom: var(--spacing-200);
}
.hero__content button {
  margin-top: var(--spacing-700);
}
.hero__stats {
  display: grid;
  gap: var(--spacing-700);
  padding-inline: var(--spacing-700);
  place-content: center;
}
.hero__stat-icon {
  max-width: 2em;
  margin-bottom: var(--spacing-00);
}
.hero__stat-total {
  font-size: var(--fs-mobile-display-regular);
  font-weight: var(--fw-bold);
}
.hero__stat-description {
  opacity: 0.6;
}
.feature__image-container {
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.main__feature {
  display: grid;
  gap: var(--spacing-600);
  text-align: center;
  padding-top: var(--spacing-800);
  place-content: center;
}
.feature__content {
  border: 1px solid red;
  padding-block: var(--spacing-600) var(--spacing-800);
}
.feature__content h2 {
  margin-bottom: var(--spacing-200);
}
/* =============|| Buttons ||============= */
.header__cta-button {
  font-size: 0.625rem;
  padding: 0.25em 1.25em;
  border-radius: 100vmax;
}

.hero__cta-button,
.cta__button {
  border-radius: 100vmax;
  font-size: 0.75rem;
  padding: 1em 3.5em;
}
.newsletter__button {
  padding: 0.75em 2.5em;
  border-radius: 0.3em;
}

/* ======================================= */
/* ==========|| footer Style ||=========== */
/* ======================================= */

/* ======================================= */
/* ============|| Utilities ||============ */
/* ======================================= */
.header__wrapper,
.footer__wrapper {
  max-width: 90%;
  margin-inline: auto;
}
.wrapper {
  max-width: 86%;
  margin-inline: auto;
}
.wrapper--block {
  padding-block: var(--spacing-400);
}

.button--clr-primary {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-medium);
  font-weight: var(--fw-bold);
  border: none;
}
.button--clr-primary-transparent {
  background-color: transparent;
  border: 0.0625rem solid var(--clr-primary);
  color: var(--clr-primary);
}
/* ======================================= */
/* ===========|| Breakpoints ||=========== */
/* ======================================= */
@media (min-width: 600px) {
  .hero__stats {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .main__feature {
    grid-template-columns: 1fr 1fr;
  }
}