/* ======================================= */
/* ========|| Custom Properties ||======== */
/* ======================================= */
:root {
  --clr-primary: hsl(322, 100%, 66%);
  --clr-secondary: hsl(321, 100%, 78%);
  --clr-accent: hsl(0, 100%, 63%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(207, 100%, 98%);
  --clr-neutral-800: hsl(192, 100%, 9%);

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  --ff-accent: "Poppins";
  --ff-base: "Open Sans";

  --spacing-50: 0.25em;
  --spacing-100: 0.5em;
  --spacing-150: 0.75em;
  --spacing-200: 1em;
  --spacing-250: 1.25em;
  --spacing-300: 1.5em;
  --spacing-350: 1.75em;
  --spacing-400: 2em;
  --spacing-500: 2.5em;
  --spacing-600: 3em;
  --spacing-700: 3.75em;
  --spacing-800: 6.25em;
  --spacing-900: 10em;
  --spacing-1000: 15em;

  /* Desktop */
  --fs-desktop-smallest: 0.75rem; /* 12px */
  --fs-desktop-detail: 0.875rem; /* 14px */
  --fs-desktop-regular: 1.125rem; /* 16px/18px */
  --fs-desktop-subtitle-small: 1.5rem; /* 20px */
  --fs-desktop-subtitle-regular: 2.5rem; /* 40px */
  --fs-desktop-subtitle-large: 2rem; /* 22px */
  --fs-desktop-main-small: 2rem; /* 32px */
  --fs-desktop-main-regular: 2.375rem; /* 38px */
  --fs-desktop-main-large: 2.625rem; /* 42px */
  --fs-desktop-display-small: 3.75rem; /* 60px */
  --fs-desktop-display-regular: 4.5rem; /* 72px */
  --fs-desktop-display-large: 5rem; /* 80px */

  /* Mobile */
  --fs-mobile-xsmall: 0.75rem; /* 12px */
  --fs-mobile-small: 0.875rem; /* 14px */
  --fs-mobile-regular: 1rem; /* 16px */
  --fs-mobile-subtitle-small: 1.25rem; /* 18px */
  --fs-mobile-subtitle-regular: 1.375rem; /* 22px */
  --fs-mobile-subtitle-large: 1.5rem; /* 24px */
  --fs-mobile-main-title-small: 1.5rem; /* 24px */
  --fs-mobile-main-title-regular: 2rem; /* 32px */
  --fs-mobile-main-title-large: 2.375rem; /* 38px */
  --fs-mobile-display-small: 3rem; /* 48px */
  --fs-mobile-display-regular: 3.75rem; /* 80px */
  --fs-mobile-display-large: 4.5rem; /* 72px */

  --fs-body: clamp(
    var(--fs-mobile-regular),
    15.304px + 0.2174vw,
    var(--fs-desktop-regular)
  );
  --fs-title: clamp(
    var(--fs-mobile-main-title-small),
    17.7392px + 1.9565vw,
    var(--fs-desktop-main-large)
  );
  --fs-sub-title: clamp(
    var(--fs-mobile-subtitle-regular),
    13.0432px + 2.1739vw,
    var(--fs-desktop-subtitle-regular)
  );
  --fs-smallest: ;
  --fs-button: ;
}

/* ======================================= */
/* ===============|| Reset ||============= */
/* ======================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ======================================= */
/* ========|| General Styling ||========== */
/* ======================================= */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
}
h1,
h2 {
  font-family: var(--ff-accent);
}
h1 {
  font-size: var(--fs-title);
}
h2 {
  font-size: var(--fs-sub-title);
}
/* ======================================= */
/* ==========|| Header Style ||=========== */
/* ======================================= */
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-400);
}
.header__logo {
  width: 6em;
}
/* ======================================= */
/* ===========|| Main Style ||============ */
/* ======================================= */
.main {
  padding-block: var(--spacing-800) var(--spacing-900);
}
.main__hero {
  max-width: 95%;
  margin-inline: auto;
  margin-bottom: 15em;
}
.main__hero > *:not(:last-child) {
  margin-bottom: var(--spacing-800);
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__content h1 {
  margin-bottom: var(--spacing-200);
}
.hero__content button {
  margin-top: var(--spacing-700);
}
.hero__stats {
  display: grid;
  gap: var(--spacing-700);
  padding-inline: var(--spacing-700);
  place-content: center;
}
.hero__stat-icon {
  max-width: 2em;
  margin-bottom: var(--spacing-00);
}
.hero__stat-total {
  font-size: var(--fs-mobile-display-regular);
  font-weight: var(--fw-bold);
}
.hero__stat-description {
  opacity: 0.6;
  text-align: center;
}
.feature__image-container {
  display: flex;
  align-items: center;
}
.main__features {
  padding-bottom: var(--spacing-900);
}
.main__feature {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
  text-align: center;
  position: relative;
  margin-block: var(--spacing-800);
  padding-block: var(--spacing-700);
}
.main__feature > * {
  max-width: 86%;
  margin-inline: auto;
}
.main__feature:not(:nth-child(2)) {
  background-color: #f6fbff;
}

.main__feature[data-order="1"]::after,
.main__feature[data-order="1"]::before,
.main__feature[data-order="3"]::after,
.main__feature[data-order="3"]::before {
  left: 0;
  right: 0;
  position: absolute;
  background-position: contain;
  width: 100%;
  height: 5em;
  content: "";
}
.main__feature[data-order="1"]::before,
.main__feature[data-order="3"]::before {
  top: -5em;
}
.main__feature[data-order="1"]::after,
.main__feature[data-order="3"]::after {
  bottom: -5em;
}

.main__feature[data-order="1"]::before {
  background: url(images/bg-section-top-mobile-1.svg) bottom center no-repeat;
}
.main__feature[data-order="1"]::after {
  background: url(images/bg-section-bottom-mobile-1.svg) top center no-repeat;
}
.main__feature[data-order="3"]::before {
  background: url(images/bg-section-top-mobile-2.svg) bottom center no-repeat;
}
.main__feature[data-order="3"]::after {
  background: url(images/bg-section-bottom-mobile-2.svg) top center no-repeat;
}
@media (min-width: 280px) {
  .main__feature[data-order="1"]::before {
    background: url(images/bg-section-top-desktop-1.svg) bottom center no-repeat;
    background-size: contain;
    width: 100%;
  }
  .main__feature[data-order="1"]::after {
    content: "";
    background: url(images/bg-section-bottom-desktop-1.svg) top center no-repeat;
    background-size: contain;
    width: 100%;
  }
  .main__feature[data-order="3"]::before {
    background: url(images/bg-section-top-desktop-2.svg) bottom center no-repeat;
    background-size: contain;
    width: 100%;
  }
  .main__feature[data-order="3"]::after {
    background: url(images/bg-section-bottom-desktop-2.svg) top center no-repeat;
    background-size: contain;
    width: 100%;
  }
}
@media (min-width: 750px) {
  .main__feature[data-order="1"]::after,
  .main__feature[data-order="1"]::before,
  .main__feature[data-order="3"]::after,
  .main__feature[data-order="3"]::before {
    height: 15em;
  }
  .main__feature[data-order="1"]::before,
  .main__feature[data-order="3"]::before {
    top: -15em;
  }
  .main__feature[data-order="1"]::after,
  .main__feature[data-order="3"]::after {
    bottom: -15em;
  }
}
.feature__content {
  display: grid;
  place-content: center;
}
.feature__content h2 {
  margin-bottom: var(--spacing-200);
}
.main__cta {
  margin-block: 5em 10em;
}
.cta__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
}
.cta__text {
  font-size: var(--fs-desktop-subtitle-small);
  font-weight: var(--fw-bold);
  font-family: var(--ff-accent);
  text-align: center;
}
/* =============|| Buttons ||============= */
button {
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.8;
}
.header__cta-button {
  font-size: 0.625rem;
  padding: 0.25em 1.25em;
  border-radius: 100vmax;
}

.hero__cta-button,
.cta__button {
  border-radius: 100vmax;
  font-size: 0.75rem;
  padding: 1em 3.5em;
}
.newsletter__button {
  padding: 0.75em 2.5em;
  border-radius: 0.3em;
}

/* ======================================= */
/* ==========|| footer Style ||=========== */
/* ======================================= */
.footer {
  background-color: var(--clr-neutral-800);
  position: relative;
}
.footer::before {
  content: "";
  background: url(images/bg-footer-top-mobile.svg) bottom center no-repeat;
  height: 5em;
  background-size: 100%;
  position: absolute;
  top: -5em;
  left: 0;
  right: 0;
}
@media (min-width: 620px) {
  .footer::before {
    height: 10em;
    top: -10em;
  }
}
@media (min-width: 750px) {
  .footer::before {
    height: 15em;
    top: -15em;
  }
}
.footer__wrapper {
  padding-block: var(--spacing-400);
}
.footer__grid {
  color: var(--clr-neutral-200);
  display: grid;
  gap: var(--spacing-800);
  margin-bottom: var(--spacing-700);
}
.footer__social img {
  width: 1.5em;
  filter: brightness(0) invert(1);
}

.footer__newsletter {
  display: grid;
  gap: var(--spacing-300);
}
.newsletter__form {
  display: grid;
  gap: var(--spacing-200);
}
.newsletter__title {
  font-family: var(--ff-accent);
  text-transform: uppercase;
  font-size: var(--fs-desktop-regular);
}
.newsletter__description {
  font-size: var(--fs-mobile-small);
}
.newsletter__input {
  padding: 0.75em;
  border-radius: 0.3em;
  border: none;
}
.newsletter__button {
  justify-self: end;
}

.footer__info {
  display: grid;
  gap: var(--spacing-400);
}
.footer__logo {
  max-width: 12em;
  filter: brightness(0) invert(1);
  margin-bottom: var(--spacing-200);
}
.footer__description {
  font-size: var(--fs-mobile-small);
}
.footer__contact > :first-child {
  margin-bottom: var(--spacing-200);
}
.footer__phone::before {
  content: url(images/icon-phone.svg);
  margin-right: var(--spacing-200);
}
.footer__email::before {
  margin-right: var(--spacing-200);
  content: url(images/icon-email.svg);
}

.footer__social {
  display: flex;
  gap: var(--spacing-200);
}

/* ======================================= */
/* ============|| Utilities ||============ */
/* ======================================= */
.header__wrapper,
.footer__wrapper {
  max-width: 90%;
  margin-inline: auto;
}
.wrapper {
  max-width: 86%;
  margin-inline: auto;
}
.button--clr-primary {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-medium);
  font-weight: var(--fw-bold);
  font-family: var(--ff-base);
  border: none;
}
.button--clr-primary-transparent {
  background-color: transparent;
  border: 0.0625rem solid var(--clr-primary);
  color: var(--clr-primary);
}
/* ======================================= */
/* ===========|| Breakpoints ||=========== */
/* ======================================= */
@media (min-width: 600px) {
  /* ============|| Header  ||============== */
  .header__logo {
    width: 8em;
  }

  /* ============|| Main  ||============== */
  .main__hero {
    max-width: 80%;
    margin-inline: auto;
  }
  .hero__image-container {
    display: grid;
    place-content: center;
  }
  .hero__stats {
    grid-template-columns: 250px 250px;
  }
  .hero__stat-total {
    font-size: var(--fs-desktop-display-regular);
  }
  .hero__stat-description {
    text-align: start;
  }
  .cta__text {
    font-size: var(--fs-desktop-subtitle-large);
  }
  /* =============|| Buttons ||============ */
  .header__cta-button {
    font-size: var(--fs-desktop-detail);
    padding: 0.25em 1.25em;
    border-radius: 100vmax;
  }
  .hero__cta-button,
  .cta__button {
    font-size: var(--fs-mobile-regular);
  }
  /* =============|| Footer ||============ */
  .newsletter__form {
    grid-template-columns: 1fr auto;
    place-content: center;
  }
  .newsletter__title {
    margin-bottom: -1em;
  }
  .footer__info {
    gap: var(--spacing-200);
  }
}
@media (min-width: 900px) {
  .main__feature {
    flex-direction: row-reverse;
  }
  .main__feature > * {
    flex: 1;
  }
  .main__feature[data-order="2"] {
    flex-direction: row;
  }
  .hero__stats {
    gap: var(--spacing-900);
  }

  .footer__grid {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-900);
    grid-template-areas: "first second";
  }
  .footer__grid > :nth-child(1) {
    grid-area: second;
  }
  .footer__grid > :nth-child(2) {
    grid-area: first;
  }
}
